@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.home-container {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}

.home-text h1,
.home-text p {
  font-size: 1.3rem; /* mismo tamaño para h1 y p */
  color: #475569;
  margin-bottom: 10px;
}

.home-text h1 b,
.home-text p b {
  color: #25b3eb; /* color brillante igual para nombre y rol */
  font-weight: 700; /* mismo grosor */
}

.home-logo-container {
  margin-top: 20px;
}

.home-logo-container img {
  width: 250px;
  border-radius: 10px;
}
