@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*todos los componentes de Ant Design usen la misma fuente */
.ant-layout,
.ant-menu,
.ant-breadcrumb,
.ant-btn,
.ant-input,
.ant-select,
.ant-typography {
  font-family: inherit !important;
}
